body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #3a3a5f);
    color: white;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: #2c2c3e;
    padding: 30px;
    border-radius: 15px;
    display: inline-block;
}

h2 {
    font-size: 50px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #555;
    color: white;
}
